*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jersey 10';
    background-color: #00CBE7;
    color: white;
}
img{
    background-color: transparent;
}
a{
    font-size: 100px;
    text-decoration: none;
    background-color: transparent;
}
.container{
    display: grid;
    place-items: center;  
    gap: 100px;  
    background-color: red ;
    width: 1000px;
    height: 800px;
    gap: 0;
}
.colorchooser{
    background-color: blanchedalmond;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    grid-template-columns: auto auto auto;
    .blue{
        width: 100px;
        height: 100px;
        background-color: blue;
    }
    .red{
        width: 100px;
        height: 100px;
        background-color: rgb(255, 0, 0);
    }
    .green{
        width: 100px;
        height: 100px;
        background-color: rgb(0, 255, 0);
    }
    .blue:hover, .red:hover, .green:hover{
        cursor: pointer;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}